/*
* Style tweaks
* --------------------------------------------------
*/
html,
body {
    overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
    padding-top: 0px;
}
footer {
    padding: 20% 0;
}

/*
 * Custom styles
 */
.navbar-brand {
    font-size: 1.5em;
}

.navbar-container {
    padding: 2% 0 2% 0;
}

.navbar.navbar-fixed-top.fixed-theme {
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
    font-size: 18px;
}

.navbar-container.fixed-theme {
    padding: 0;
}

.navbar-brand.fixed-theme,
.navbar-container.fixed-theme,
.navbar.navbar-fixed-top.fixed-theme,
.navbar-brand,
.navbar-container{
    transition: 0.8s;
    -webkit-transition:  0.8s;
}
@keyframes animatedBackground {
    from { background-position: 0 0; }
    to { background-position: 100% 0; }
}
.mmimg{
    position: absolute;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: repeat-x;

    animation: animatedBackground 40s linear infinite;

}
.desc{
    float: right;
    padding-top: 30%;
    color: white;
    font-size: 2.5em;
    margin-right: 5%;
    font-family: georgia; 
}
