::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #00ACC1;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #304ffe    ;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #304ffe    ;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #304ffe    ;
}

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}


.txt {
    padding: 10px;
    opacity: 1;
    border: none;
    width: 45%;
    min-width: 195px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    border-bottom: solid 2px #2e98e8;
    background: rgba(0,0,0,0.0);
    font-family: 'Vollkorn', Georgia, Times, serif;
    color: white;
    -ms-box-sizing:content-box;
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box; 
    box-sizing:content-box;
    font-size: 100%;
}


.iwant {
  color: #00E5FF;
 margin-top: 5%;
 font-size: 150%;
 line-height: 25px;
 font-family: 'Vollkorn', Georgia, Times, serif;
 background: rgba(0,0,0,0.75);
}

.txt:focus, .txt:hover{
    width: 60%;
    border-bottom: solid 2px #2e98e8;
}

.bgimg{
     position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: -72px
}

#cf {
  position:absolute;
}

#cf img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
  opacity:0;
}