body{
    background-color: #c2cfd8;
}

#footer {
    background:#000000;
    width:100%;
    text-align: center;
    position: relative;
    bottom:0;
    left:0;
    font-size: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
}


.first-row{
    margin-top: 2%;
}

.last-row{
    margin-bottom: 65px;
}

.container{
    margin-top: 70px;
    margin-bottom: 70px;
}
.btn{
    font-size: 100%;
    width: 360px;
    min-width: 260px;
    margin-bottom: 3%;
    margin-right: 1%;
    margin-left: 1%;
}

.colored-tooltip + .tooltip > .tooltip-inner {
    background-color: #000;
}
.colored-tooltip + .tooltip > .tooltip-arrow { 
    border-bottom-color:#000; 
}
